{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>nftables-gui</h1>
            <p>Bienvenido a la primera interfaz web para nftables!!</p>
            <h1>Panel de información general nftables</h1>
    <ul>
        <img src="{{ nftables_info_image }}" alt="Gráfico de elementos nftables">
        <li>Nombre del host: {{ hostname }}</li>
        <li>Dirección IP: {{ ip_address }}</li>
    </ul>
        </div>
    </div>
</div>
{% endblock %}