{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
  <h1>Chain: {{ chain.name }}</h1>
  <div class="row">
    <div class="col-md-6">
      <h2>Details:</h2>
      <p><strong>Table:</strong> {{ chain.table }}</p>
      <p><strong>Hook type:</strong> {{ chain.hook_type }}</p>
      <p><strong>Type:</strong> {{ chain.type }}</p>
      <p><strong>Description:</strong> {{ chain.description }}</p>
    </div>
    <div class="col-md-6">
      <h2>Rules:</h2>
      <ul>
        {% for rule in chain.rules %}
          <li>{{ rule }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}