{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
  <h1>Chain: {{ chain.name }}</h1>
  <button class="btn btn-primary" onclick="window.location.href='/chains/{{ chain.name }}/edit'">Edit</button>
  <button class="btn btn-danger" onclick="window.location.href='/chains/{{ chain.name }}/delete'">Delete</button>
  <div class="row">
    <div class="col-md-6">
      <h2>Details:</h2>
      <p><strong>Table:</strong> {{ chain.table.name }}</p>
      <p><strong>Hook type:</strong> 
        {% if chain.hook_type == "" %}
          This chain is not associated with a hook
        {% else %}
        {{ chain.hook_type }}</p>
        {% endif %}
      <p><strong>Type:</strong> {{ chain.type }}</p>
      <p><strong>Description:</strong> {{ chain.description }}</p>
    </div>
    <div class="col-md-6">
      <h2>Rules:</h2>
      <table class="table personal-table">
        <thead>
          <tr>
            <th>Handle</th>
            <th>Expresion</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
        {% for rule in chain.rules %}
          <tr>
            <td>{{ rule.handle }}</td>
            <td>{{ rule.expr }}</td>
            <td>
              {% if rule.description == None %}
                No description
              {% else %}
              {{ rule.description }}
              {% endif %}</td>
          </tr>
        {% endfor %}
        </tbody>
    </div>
  </div>
</div>
{% endblock %}