name: Python Package

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Set PYTHONPATH
      run: |
        echo "PYTHONPATH=$(pwd)/nftables-frontend" >> $GITHUB_ENV
        ls -R

    - name: Create necessary directories
      run: mkdir -p nftables-frontend/static/img

    - name: Create database directory
      run: mkdir -p nftables-frontend/instance

    - name: Lint with flake8
      run: |
        pip install flake8
        flake8 nftables-frontend/ --count --select=E9,F63,F7,F82 --show-source --statistics
        flake8 nftables-frontend/ --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Test with pytest
      run: |
        pip install pytest
        python -m pytest nftables-frontend/tests/
